@model project.Models.Cart

@{
    ViewBag.Title = "Delete";
}

<html>
<head>
    <style>
    </style>
</head>
<body>
    <div class="container m-auto  w-75">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <h3 class="text-center mulberry-color">Delete @Html.DisplayFor(model => model.Name)</h3>
            <h4 class="text-center mulberry-color">Are you sure you want to remove this plant from your cart?</h4>
            <div class="card mb-3">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Id)
                <div class="row g-0">
                    <div class="col-lg-4 ">
                        <img class="card-img-top" src="@Html.DisplayFor(model => model.PictureURL)" alt="@Html.DisplayFor(model => model.Name)">
                    </div>
                    <div class="col-lg-8">
                        <div class="card-body">
                            <h5 class="card-title">@Html.DisplayFor(model => model.Name)</h5>
                            <p class="card-text mb-0">@Html.DisplayFor(model => model.LongDescription)</p>
                            <div class="text-end">
                                <p class="fw-bolder me-3 mb-0 mt-0">$ @Html.DisplayFor(model => model.Price)</p>
                            </div>

                            <div class="p-1 row">
                                <div class="col text-start">
                                    <input type="submit" value="Yes" class="btn btn-outline-danger" />
                                    @Html.ActionLink("Back to List", "Index", new { }, new { @class = "btn btn-outline-secondary" })
                                </div>
                                <div class="col d-flex justify-content-end">
                                    @if (Model.Available)
                                    {
                                        <p class="badge alert-success">Available</p>
                                    }
                                    else
                                    {
                                        <p class="badge alert-danger">Not Available</p>
                                    }
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        }
        <br />
        <br />
    </div>
   
</body>
</html>